@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --custom-width: 1440px;
  --sm-width: 640px;
  --md-width: 768px;
  --lg-width: 1024px;
  --xl-width: 1440px;
  --custom-bg: #ffffff;
  --custom-margin-left: auto;
  --custom-margin-right: auto;
  --custom-shadow: 1px 1px 2px 5px rgba(0, 0, 0, 0.1);
}
body {
  font-family: "Inter", sans-serif;
  background-color: #f5fff6;
}
.bg_color {
  background: linear-gradient(135deg, #006a4e, #009e60);
}

.call-entry {
  display: flex;
  gap: 40px;
  color: black;
  background-color: #e6e6e6;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
}
.service-name {
  font-weight: bold;
  font-size: 13px;
}
.service-number {
  color: black;
  font-size: 12px;
  margin-top: 4px;
}
.timestamp {
  font-size: 11px;
  color: black;
  margin-top: 2px;
  font-weight: 500;
}
